.dental-charting{
  border: 1px solid #cacaca;
  padding: 30px;
  margin: 50px;
}

.chart{
  background: #fff;
  text-align: center;
}

.codes{
  border: 1px solid #cacaca;
}

.colums{
  margin: auto;
}

.input{
  height: 35px;
  width: 100%;
  margin: 3px 0;
  &:focus{
    outline: none;
    border: 2px solid #2199e8;
  }
}

.th{
  fill:none;
  stroke:#000000;
  stroke-width:1;
  stroke-linecap:round;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none
}

.th:hover{
  cursor: pointer;
}
