<div class="footer-wrap">
  <div class="col-12 col-md-6">
    <ul class="page-breadcrumbs" *ngIf="pageData && pageData.breadcrumbs">
      <li class="item" *ngFor="let item of pageData.breadcrumbs; let last = last">
        <a class="link" routerLink="{{ item.route }}" *ngIf="item.route">{{ item.title }}</a>

        <span *ngIf="!item.route">{{ item.title }}</span>

        <i class="separator icofont-thin-right" *ngIf="!last"></i>
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-6 text-right">
    <div class="d-flex align-items-center justify-content-end">
      <span>Version 1.0.0</span>
      <button class="no-style ml-2" (click)="openModal(modalBody, 'Application\'s settings', modalFooter)">
        <tc-icon [iconClass]="'icofont-ui-settings'" [tcFontSize]="26" [tcColor]="['#336cfb', '#b7ce63']"></tc-icon>
      </button>
    </div>
  </div>
</div>

<!-- Settings modal window -->
<ng-container>
  <ng-template #modalBody>

  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [block]="true" [view]="'error'">Reset to default</button>
      <a tc-button [block]="true" [view]="'accent'" [href]="downloadJsonHref" download="app-settings.json">Download settings</a>
    </div>
  </ng-template>
</ng-container>
<!-- end Settings modal window -->
