@import 'variables';

.app-loader {
  align-items: center;
  background: $loader-overlay-bg;
  color: $loader-color;
  display: flex;
  height: 100%;
  font-size: 30px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
